/*
 * SPDX-FileCopyrightText: 2023 Dirk van der Walt <dirkvanderwalt@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

.green_round {
    margin: 5px;
    padding: 5px;
    border: 2px solid #0ca630;
    background: #d0f8da;
}

.blue_round {
    margin: 5px;
    padding: 5px;
    border: 2px solid #4a709b;
    background: #d3dfec;
}

.red_round {
    margin: 5px;
    padding: 5px;
    border: 2px solid #d92435;
    background: #f1e2e2;
}