/*
 *  This file can be used to set variables and supply global styling.  View specific 
 *  styling should be located the view's corresponding scss file.
 */
$enable-font-awesome: dynamic(true);

/* WIP Schedules */
.plain-wrap .main{
    margin      : 5px;
    padding     : 5px;
    cursor      : move;
    font-size 	: 1.5em;
	color		: #027534;
    text-align  : left;
    border-bottom : 5px solid #667078;
}

.plain-wrap .main:hover{
    background: #c4cbd7;
}

.plain-wrap.x-item-selected .main {
    background: #e1c8d4;
}

.plain-wrap .sub-reply{	
    cursor      : move;
    border-radius: 5px;
    border      : 1px solid #3aacf2;
    padding     : 5px; 
    margin      : 5px;
    text-align  : center; 
    color       : #0677c7;
}

.plain-wrap .sub-reply:hover{
    background: #f2f3f5;
}

.plain-wrap.x-item-selected .sub-reply {
    background: #e1c8d4;
}

.plain-wrap .sub-check{	
    cursor      : move;
    border-radius: 5px;
    border      : 1px solid #2fde5d;
    padding     : 5px; 
    margin      : 5px;
    text-align  : center; 
    color       : #0677c7;
}

.plain-wrap .sub-check:hover{
    background: #ecf8ec;
}

.plain-wrap.x-item-selected .sub-check {
    background: #e1c8d4;
}


/* END WIP Schedules */
